.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
.product-name{
    color: rgb(5, 5, 179);
    margin-left: 10%;
}
.product-common{
    margin-left: 10%;
}
.product img{
    width:250px;
}
.product-size{
    width:1200px;
}
.btn{
    width: 160px;
    background-color: orange;
    padding:5px;
    border-radius: 4px;
    border: 1px solid black;
}